.tabs-container {
  height: 200px;
  margin: 2px;
}
.tabs-container .tab {
  padding: 5px;
  text-align: center;
  width: 50px;
  cursor: pointer;

}
.tabs-container .tab:hover {
  opacity: 90%;
}
.tabs-container .tab.active {
  color: #40a9ff;
  text-shadow: 0 0 0.25px currentcolor;
}
.nav {
  display: flex;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
